body{
    padding: 0;
    margin: 0;
}
header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    padding: 10px 20px;
    background-color:rgba(0, 73, 28, 1);
    color: white;
}
.logo{
    grid-column: 1;
}
.logo img {
    width: 40%;
    height: 40%;
    min-width: 75px;
}
nav{
    width: auto;
    grid-column: 2;
    background-color: rgba(0, 73, 28, 1);
}
nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
    height: auto;
}
nav li {
    list-style: none;
    height: auto;
    margin: auto;
    border-radius: 5px;
    color: rgba(189, 166, 40, 1);
    text-decoration: none;
    list-style: none;
}
a:link {
    color: white;
    text-decoration: none;
  }
  
  /* Estilo para enlaces visitados */
  a:visited {
    color: white;
  }
  
  /* Estilo para enlaces cuando el mouse pasa sobre ellos */
  a:hover {
    color: white;
    text-decoration: underline;
  }
  
  /* Estilo para enlaces cuando se hacen clic en ellos */
  a:active {
    color: white;
  }

.title h1 {
    font-size: 1.5em;
}
.profile button {
    grid-row: 3;
    background-color: rgba(32, 117, 64, 1);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.esconder{
    visibility: hidden;
}
.esconderNone{
    display: none;
}
/*
$goldenrod: #E2B122ff;
$dark-spring-green: #217641ff;
$fern-green: #528539ff;
$cinnabar: #E75127ff;
$pakistan-green: #00491Cff;
$xanthous: #F4B720ff;
*/
/* estilos de pie de pagina */
footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 10px;
    align-items: center;
    padding: 10px 20px;
    background-color:rgba(0, 73, 28, 1);
    color: white;
    margin: 0;
}
.datosContacto{
    grid-column: 1;
    grid-row: 1;
    background-color: rgba(0, 73, 28, 1);
}
.datosContacto span{
    text-align: center;
}
.datosContacto ul{
    list-style: none;
    padding: 0;
}
.datosContacto li{
    margin: 5px;
}
.logoFooter{
    grid-column: 2;
    grid-row: 1;
    background-color: rgba(0, 73, 28, 1);

}
.logoFooter a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logoFooter img{
    min-width: 75px;
    width: 50%;
}
.infomacionLegar{
    grid-column: 3;
    grid-row: 1;
    background-color: rgba(0, 73, 28, 1);
}
.infomacionLegar span{
    text-align: center;
}
.infomacionLegar ul{
    list-style: none;
    padding: 0;
}
.infomacionLegar li{
    margin: 5px;
}