table {
  border-collapse: collapse;
  border: red solid 2px;
}

td,
th {
  border: 1px solid black;
  padding: 3px;
  text-align: center;
  min-width: 10%;
  min-height: 10%;
}

th {
  font-weight: bold;
  background-color: #E6E6E6;
}

/* .dayWhitActivity{
  display: flex;
  flex-direction: row;
} */
.spanActividad{
  background-color: lightblue;
  border-radius: 2vh;
}
#ListaActividades{
  border: palegoldenrod;
}
.actividad{
  border: black;
}
#divContenidoCalendario {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#infoCalendario {
  flex: 1;
  border: black solid 2px;
}

#ListaActividades {
  border: black solid 2px;
  flex: 1;
}
.otrascosas{
  border: black solid 2px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.actividad{
  border: blue solid 2px;
  margin: 5px;
  width: 90%;
}
form{
  margin-left: 30px;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: auto;
  background-color: crimson;
}
/* Estilos para la ventana modal */
.modal {
  display: none; /* La ventana modal está oculta por defecto */
  position: fixed; /* La ventana modal se queda fija en la pantalla */
  z-index: 1; /* La ventana modal se sitúa encima del resto de contenido */
  left: 0;
  top: 0;
  width: 100%; /* La ventana modal ocupa toda la pantalla */
  height: 100%;
  overflow: auto; /* Habilita el scroll si es necesario */
  background-color: rgba(0,0,0,0.4); /* Color de fondo con opacidad */
}
/* Estilos para el contenido de la ventana modal */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% desde arriba y centrado */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* El contenido de la ventana modal ocupa el 80% de la pantalla */
}
.ocultar{
  display: none;
}
