body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.profile button {
    background-color: rgba(32, 117, 64, 1);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.explicion{
    display: flex;
    flex-direction: column;
    background-color: rgba(16, 95, 46, 1);
    color: white;
}
.tituloExplicacion{
    width: 100%;
    background-color: rgb(232, 169, 106);
    text-align: center;
}
.textoExplicacion{
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: rgb(108, 106, 232);
    text-align: center;
    align-items: center;
    justify-content: center;

}
.divExplicacionParrafo{
    width: 60%;
}
.divExplicacionImg{
    width: 50%;
}
.divExplicacionImg img{
    width: 80%;
}
.queHaceExplicaciones{
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: rgba(16, 95, 46, 1);
    color: white;
}
.queHaceExplicacion{
    width: 30%;
    margin:1.5%;
    background-color: green;
}
.divQueHacParrafo{
    align-items: center;
    color: pink;
    width: 100%;
}
.divQueHacerImg img{
    width: 100%;
}
@media all and (width  < 650px){
    .textoExplicacion{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        background-color: pink;
    }
    .divExplicacionParrafo{
        width: 100%;
        margin: 10px;
    }
    .divExplicacionImg{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .queHaceExplicaciones{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        text-align: center;
        background-color: rgba(16, 95, 46, 1);
        color: white;
    }

}
/* 
$old-gold: rgba(189, 166, 40, 1);
$pakistan-green: rgba(0, 73, 28, 1);
$dark-spring-green: rgba(32, 117, 64, 1);
$dartmouth-green: rgba(16, 95, 46, 1); 
$pakistan-green-2: rgba(0, 73, 28, 1); // mas oscuro
*/

