body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgba(16, 95, 46, 1);
}
.profile button {
    background-color: rgba(32, 117, 64, 1);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.explicion{
    display: flex;
    flex-direction: column;
    background-color: rgba(16, 95, 46, 1);
    color: white;
}
.tituloExplicacion{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    
}
.tituloExplicacion h1{
    width: 80%;
    color: white;
    text-align: center;
    border-radius: 2vh;
    border: 3px solid #E2B122ff;
    background-color: #E2B122ff;
}
.textoExplicacion{
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: rgba(16, 95, 46, 1);
    text-align: center;
    align-items: center;
    justify-content: center;

}
.divExplicacionParrafo{
    font-size: large;
    width: 60%;
}
.divExplicacionImg{
    width: 50%;
}
.divExplicacionImg img{
    width: 80%;
}
.tituloQueHace{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;

}
.tituloQueHace h1{
    width: 80%;
    text-align: center;
    color: white;
    border-radius: 2vh;
    border: 3px solid #E2B122ff;
    background-color: #E2B122ff;
}
.queHaceExplicaciones{
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: rgba(16, 95, 46, 1);
    color: white;
}
.queHaceExplicacion{
    width: 30%;
    margin:1.5%;
    min-width: 200px;
    padding: 5px;
    background-color: rgba(16, 95, 46, 1);
    border-radius: 2vh;
    border: 3px solid #E2B122ff;
}
.divQueHacerParrafo{
    align-items: center;
    color: white;
    width: 100%;
}
.divQueHacerImg img{
    width: 100%;
}
@media all and (width  < 650px){
    .textoExplicacion{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        background-color: rgba(16, 95, 46, 1);
    }
    .divExplicacionParrafo{
        width: 100%;
        margin: 10px;
    }
    .divExplicacionImg{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .queHaceExplicaciones{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        background-color: rgba(16, 95, 46, 1);
    }
    .queHaceExplicacion{
        width: 100%;
        margin:1.5%;
        background-color: rgba(16, 95, 46, 1);
    }
    .divQueHacerParrafo{
        align-items: center;
        color: white;
        width: 100%;
    }
    .divQueHacerImg img{
        width: 100%;
    }

}
/* 
$old-gold: rgba(189, 166, 40, 1);
$pakistan-green: rgba(0, 73, 28, 1);
$dark-spring-green: rgba(32, 117, 64, 1);
$dartmouth-green: rgba(16, 95, 46, 1); 
$pakistan-green-2: rgba(0, 73, 28, 1); // mas oscuro
*/

