
body{
  margin: 0;
  background-color: #4CAF50;
}
main{
  height: 60vh;
  background-color: #4CAF50;
  margin: 0;
}
#etiquetas{
  background-color: #4CAF50;
  height: auto;
  padding-top: 10px;
}
#etiquetas ul{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  list-style: none;
  margin: 0px;
  height: auto;
}
#etiquetas li{
  margin: 0px 0px 0px 5px;
  padding: 5px;
  border-radius: 10px 10px 0px 0px;
  background-color: coral;
  color: white;
  height: 20px;
  cursor: pointer;
}
.botonModificar, .botonEliminar{
  background-color: #E2B122ff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
#contenedorLista{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-top: 5px solid #E2B122ff;
}
#filtros{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0px;
  background-color: #4CAF50;
}
#filtros form{
  display: flex;
  width: 100%;
  margin: 0px;
  background-color: aqua;
}
#crearUsuario{
  position: absolute; /* Hace que el botón se mantenga en una posición específica incluso cuando se desplaza la página */
  bottom: 20px; /* Posiciona el botón a 20px del borde inferior de la página */
  right: 20px; /* Posiciona el botón a 20px del borde derecho de la página */
  border-radius: 100%; /* Añade esquinas redondeadas al botón */
  background-color: #E2B122ff; /* Establece el color de fondo del botón */
  width: 4vw;
  height: 5vh;
  border-style: none;
}
#visualizarLista{
  background-color: yellow;
  border: 1px solid rgb(68, 197, 79);
  border-radius: 5px;
}
#modalUsuario{
  display: none;
  position: fixed;
  align-items: center;
  padding: 10px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* background-color: #4CAF50; */
  background-color: rgba(14, 1, 1, 0.785); /* Color de fondo con opacidad */
  justify-content: center;
}
#modal-content{
  background-color:rgba(32, 117, 64, 1);
  margin: 5% auto; /* 15% desde arriba y centrado */
  padding: 10px;
  border: 1px solid #888;
  width: 50%; /* El contenido de la ventana modal ocupa el 80% de la pantalla */
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 2px solid rgba(32, 117, 64, 1);
}
#cerrarModal{
color: aliceblue;
text-align: left;
font-size: large;
}
#formularioUsuario{
  width: 300px;
  height: auto;
  margin: 0 auto;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #4CAF50;
}
#formularioUsuario label{
  margin: 2px;
  color: white ;
}
#formularioUsuario input{
  margin: 2px;
  padding: 2px;
  border-radius: 5px;
  border: none;
}
#butCrearUser, #butModificarUser{
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: #E2B122ff;
  color: white;
  cursor: pointer;
}
#formTipo{
  margin-top: 10px;
}
#formTipo label{
  margin: 5px;
  color: white ;
}
#formTipo input{
  margin: 5px;
  padding: 2px;
  border-radius: 5px;
  border: none;
}
.campoInvalido{
  border: red 2px solid;
}
/*
* ESTILOS PARA LA LISTA DE USUARIOS TABLAS
*/
#divListas{
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  /* justify-content: center; */
  width: 100%;
  height: 100%;
  background-color: #4CAF50;
  color: white;
}
table,th, td, tr{
  border-collapse: collapse; 
}
#divListas th{
  color: white;
  padding: 10px;
  background-color: rgba(32, 117, 64, 1);
  border-right: 2px solid  #E2B122ff;
  border-left: 2px solid  #E2B122ff;
}
#divListas td{
  border-right: 2px solid  #E2B122ff;
  border-left: 2px solid  #E2B122ff;
  border-top: 2px solid  #E2B122ff;
  border-bottom: 2px solid  #E2B122ff;
  color: white;
  padding: 10px;
}

